.errorMsg{
  position: fixed;
  bottom: 0;
  font-size: 20px;
  text-align: center;
  padding: 16px;
  color: #f00;
  background-color: #fff;
}

.message {
  padding: 14px;
  font-size: 20px;
  text-align: center;
  color: #000;
}

.loading {
  display: flex;
  justify-content: center;
}

.loadMore {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.loadMore:hover {
  opacity: 0.5;
}


@media (min-width: 680px) {
  .loadMore {
    max-width: 300px;
    left: 50%;
    transform: translateX(-50%);
  }
}